{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}


body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('https://as1.ftcdn.net/jpg/03/66/39/94/1000_F_366399400_V6fMFluTggIUkSwSvvrg8NH1lIakCCNX.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.container { 
    width: 100%; 
    max-width: 350px; 
    z-index: 10; 
}


.login-box, .edu-box {
    background-color: #000000;
    border: 1px solid #363636;
    padding: 40px 30px;
    text-align: center;
    border-radius: 20px;
    color: white;
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.login-box { 
    margin-bottom: 12px; 
}


.insta-logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
}


.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.input-wrapper input {
    width: 100%;
    padding: 12px;
    background: #121212;
    border: 1px solid #363636;
    border-radius: 10px;
    outline: none;
    color: white;
    font-size: 13px;
    transition: border 0.3s;
}

.input-wrapper input:focus {
    border: 1px solid #555;
}

.input-wrapper i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #a8a8a8;
}


.login-button {
    width: 100%;
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 11px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s, background 0.2s;
}

.login-button:hover {
    background-color: #1877f2;
}

.login-button:active { 
    transform: scale(0.98); 
}


.signup-box {
    background-color: #000000;
    border: 1px solid #363636;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    border-radius: 15px;
}

.signup-box span { 
    color: #0095f6; 
    font-weight: 600; 
}


.footer-warning-box {
    margin-top: 20px;
    background-color: rgba(255, 77, 77, 0.15);
    border: 1px solid #ff4d4d;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-warning-box i { 
    color: #ff4d4d; 
    font-size: 20px; 
}

.footer-warning-text {
    color: #ff4d4d;
    font-size: 11px;
    text-align: left;
    line-height: 1.4;
}


#edu-screen { 
    display: none; 
}

.edu-box { 
    border: 2px solid #FE2C55; 
}

.edu-title { 
    color: #FE2C55; 
    margin-bottom: 20px; 
    font-size: 20px; 
}

.edu-content {
    text-align: left;
    font-size: 14px;
    line-height: 1.7;
}

.highlight-blue { 
    color: #0095f6; 
    font-weight: bold; 
}